
.navbar:hover {
	background-color:#c13030;
	color: white;
	padding: 1.5%;
	margin:auto;
	border-radius: 10px;
	border-bottom: 0px;
}


/* .lessonProps{
	color: #a6acb5;
} */

.lessonBox:hover {
	background-color:#8f949b;
}
.lessonBox {
	color: white;
    background-color: #a6acb5;
    height: 30%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
    border-radius: 0px 40px;
    text-align: center;
}

.quizButton {
	border-radius: 30px 30px;
}