
/* .navbar:hover {
	background-color:#c13030;
	color: white;
	padding: 1.5%;
	margin:auto;
	border-bottom: 0px;
} */

/* .lessonProps{
	color: #a6acb5;
} */


.btn-admin {
	background-color:#ededed;
	color: #000;
}
.admin-lesson-box:hover {
	background-color:#ededed;
	border: 0px;
}
.admin-lesson-box {
	border: 1px solid #d1d1d7;
	height: 325px;
	border-radius: 8px;
	max-width: 420px;
	margin: 10px auto;
	text-align: center;
}
.lesson-box:hover {
	background-color:#ededed;
	border: 0px;
}
.lesson-box {
	border: 1px solid #d1d1d7;
	max-height: 300px;
	border-radius: 8px;
	max-width: 420px;
	margin: 10px auto;
	text-align: left;
}
.lesson-title {
	font-size: 25px;
}
.lesson-btn {
	border: 1px solid #337ab7;
	border-radius: 6px;
	background-color: #ffffff;
}
.lesson-box a {
	color:#337ab7;
}
.lesson-btn2 {
	border: 1px solid #ff5050;
	border-radius: 6px;
	background-color: #ffffff;
}
.lesson-text {
	font-size: 14px;
	display: inline-block;
	color: #ff5050;
}
.lesson-quiz-text {
	margin-top: 10px;
	font-size: 17px;
	display: inline-block;
	color: #5e6b77;
}
.lesson-btn-box {
	padding-left: 9px;
}
.quiz-btn-box {
	margin-top: 10px;
}

.quizButton {
	border-radius: 30px 30px;
}

.logoHome{
	height: 70px;
	width: 100%;
}

.homePic{
	position: relative;
	z-index: -1;
}

.navBar {
	position: absolute;
    right: 0px;
	width: 700px;
	height: 100px;
	/* background-color: #B33C42; */
	z-index: 4;
}

.homeButton{
	display: inline-block;
}

.rowRed{
	background-color: #B33C42;
}

.circle
{
    margin: auto;
	margin-top:10%;
	width:30%; height:210px;
	border: solid 15px #9D8CA1;
	background-color: white;
	box-shadow: -10px -10px 20px rgba(0,0,0,0.6);
	border-radius:100%;
	position: relative;
	z-index: 10;

	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;

	background: url("https://file-pcldyrnnpe.now.sh/");
    background-size: cover;
}
.linkText{
	font-size: 20px;
}

.textCircle
{
    margin: auto;
	margin-top:5%;
	width:20%; height:290px;
	position: absolute;
	left: 5%;
	border: solid 15px #9D8CA1;
	background-color: white;
	box-shadow: -10px -10px 20px rgba(0,0,0,0.6);
	border-radius:100%;
	z-index: 10;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

.bubbleCircle
{
    margin: auto;
	margin-top:5%;
	width:20%; height:290px;
	position: absolute;
	left: 5%;
	border: solid 15px #9D8CA1;
	background-color: white;
	box-shadow: -10px -10px 20px rgba(0,0,0,0.6);
	border-radius:100%;
	z-index: 10;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

.glyphicon {
    font-size: 15px;
}
.layer {
    background-color: #828282;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lower{
	text-transform: none;
	font-weight: 200;
	font-size: 15px;
	padding-top: 3%;
	word-spacing: .2em;
}

.lowerBox{
	font-weight: 50;
	font-size: 8px;
}



.caption{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	position: relative;
	text-align: center;
}
.subCaption{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	position: relative;
	text-align: center;
}



.blueCircle
{
	background-color: #54C0EB;
	color: #54C0EB;
	position: relative;
	border-radius:100%;
	z-index: -10;
	height: 300px;
}

.no-gutter {
    padding-right:0;
	padding-left:0;
	margin-right:0;
    margin-left:0;
}

.teacherHeading {
	position: relative;
	margin-right: 10%;
	font-size: 40px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin-left: 3%;
}

.whiteBack{
    border-style: solid;
    border-color: white;
    color: #337ab7;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 20px;
	margin-left: 3%;
	margin-right: 3%;
    background-color: white;
    height: 50px;
	z-index: -1;

	padding-left: 5%;
}

.rightText{
	margin-right: 50%;
}

.TopTextHeader{
	position: relative;
	margin-top: 5%;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}
.TopText{
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}
.adminTool{
	margin:10px;
	display: inline;
}

.rightMargin{
	position: relative;	
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

.gradColor{

	border: 5px solid black;
	border-radius: 5px;
	padding: 10px;

	margin: auto;
	margin-bottom: 30px;
	max-width: 700px;

}

.centered{
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

.inlineDis{
	display: inline;
}

.hidden{
	visibility: hidden;
}

.padded{
	margin-bottom: 7%;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -20px; /* the bottom margin is the negative value of the footer's height */
    background-color: #ccc;
}
.spacer.edge { 
    background-color: white; /* same as body background */
}

.spacer {
    height: 20px;
 }

 .infront{
	 z-index: 100;
	 position: relative;
 }

 .navbar{
	 background-color:#B33C42;
	 margin-bottom: 0px;

	 min-height: 75px;
 }

 .hr{
	margin-top: 0px;
	margin-bottom: 0px;
 }

 .navbar-collapse{
	 border-top: 0px;
 }

 .navbar-toggle{
	 margin-top: 10px;
 }

 .capit{
	 text-transform: capitalize;
	 position: relative;
 }
.ppp {
	margin-left: 10px;
}
.ppp2 {
	width: 35%;
	margin-left: 10px;
	display: inline-block;
}

.past-quiz-box {
	max-width: 400px;
	max-height: 400px;
	border: 1px solid #3778ba;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
}

.correct-answer-box {
	max-width: 400px;
	max-height: 400px;
	border: 1px solid #22a531;
	border-radius: 10px;
	margin: 15px 5px;;
	padding: 10px;
}

.sign-in-btn {
	background-color: #C04448;
	color: #ffffff;
	height: 50px;
	width: 100px;
	padding: 12px 20px;
	margin: 10px 10px;
	text-align: center;
	border-radius: 6px;
	font-size: 16px;
	vertical-align: middle;
}
.sign-in-btn-box {
	padding-top: 5%;
}

.dark-box {
	background: url("https://file-utocriqbzb.now.sh/");
    background-size: cover;  
    width: 100%;
	height: 430px;
    display: block;

    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
	word-spacing: .25em;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    
    padding-top: 60px;
    margin-top: 0%;
    right:0%;
    margin-left: 0%;
    left:0%;
}

.page-error {
	margin: 20%;
	text-align: center;
	height: 40px;
    flex-direction: row 
}

.admin-tool-bar {
	background: rgba(30,209,179,1);
    background: -moz-linear-gradient(left, rgba(193, 56, 56,1) 0%, rgba(65, 186, 234,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193, 56, 56,1)), color-stop(100%, rgba(65, 186, 234,1)));
    background: -webkit-linear-gradient(left, rgba(193, 56, 56,1) 0%, rgba(65, 186, 234,1) 100%);
    background: -o-linear-gradient(left, rgba(193, 56, 56,1) 0%, rgba(65, 186, 234,1) 100%);
    background: -ms-linear-gradient(left, rgba(193, 56, 56,1) 0%, rgba(65, 186, 234,1) 100%);
    background: linear-gradient(to right, rgba(193, 56, 56,1) 0%, rgba(65, 186, 234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ed1b3', endColorstr='#037291', GradientType=1 );


    width: 70%;
    height: auto;
    position: relative;
    background-size: cover;  
    margin: auto;

    display: block;
    overflow: auto;

    padding-bottom: 10px;

    margin-bottom: 5%;
    text-align: center;
}

.hometext{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    margin: 20px;
	max-width: 100px;
	background-color:#B33C42;

}
.hometext:hover{

	background-color:#B33C42 !important;
	color: #ddbaba;
}