
html {
    font-size: 62.5%; }
body {
font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
line-height: 1.3;
font-weight: 400;
font-family: 'Roboto', sans-serif; }
a {
    color: #1EAEDB;
    text-decoration: none; }
  a:hover {
    color: #0FA0CE;
    text-decoration: none; }